/* style-constructor.css */

.constructor-panel {
    flex-grow: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    overflow-y: auto; /* Добавлено для прокрутки контента */
}

.constructor-panel h2 {
    margin-top: 0;
}

/* Убедимся, что на странице constructor.html нет правой панели */
.right-panel {
    display: none;
}